[submodule "VoxelicousEngine/submodules/spdlog"]
	path = VoxelicousEngine/submodules/spdlog
	url = https://github.com/gabime/spdlog
[submodule "VoxelicousEngine/submodules/GLFW"]
	path = VoxelicousEngine/submodules/GLFW
	url = https://github.com/glfw/glfw
